* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #18186f, #326693, #5e8bb2);
    background-size: 200% 200%;
    animation: color 8s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.wrapper {
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: aliceblue;
    border-radius: 10px;
    padding: 50px 40px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 36px;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 40px 0;
    background: transparent;
    border:  none;
    outline: none;
    border: 2px solid rgb(255,255,255,0.1);
    border-radius: 40px;
}

.input-group label{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgba(240, 248, 255, 0.7);
    pointer-events: none;
    transition: .5s;
}

.input-group input{
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: aliceblue;
    padding: 0 15px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label{
    top: -15px;
    font-size: 13px;
    color: aliceblue;
    text-shadow: white;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow{
    from{
        text-shadow: 0 0 2px aliceblue;
    }
    to{
        text-shadow: 0 0 4px aliceblue;
    }
}

.input-group input::placeholder {
    color: rgb(240, 248, 255,0.7);
}

.login-container .btn {
    width: 100%;
    height: 45px;
    background: aliceblue;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .1);
    cursor: pointer;
    color: #333;
    font-weight: 600;
}

.login-container .btn:hover {
    background: rgba(240, 248, 255, 0.3);
    color: aliceblue;
}

.register {
    padding-top: 15px;
}

.register a {
    color: aliceblue;
}